.container {
    padding: 20px;
}

header {
    text-align: center;
    padding: 20px;
}

header img {
    width: 300px;
    border-radius: 10px;
}

footer {
    text-align: center;
}

footer a {
    color: #007acc;
    text-decoration: none;
}